<p id="notice"><%= notice %></p>

<h1>Consults</h1>
  <form  action="/consults" method="GET">
    <input type="text" name="filter" value=""/>
    <input type="submit"/>
  </form>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Doctor</th>
      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consults.each do |consult| %>
      <tr>
        <td><%= consult.date %></td>
        <td><%= consult.doctor.full_name %></td><!--Columna con el nombre completo del paciente 5.1-->
        <td><%= consult.patient.full_name %></td><!--Columna con el nombre completo del paciente 5.2-->
        <td><%= link_to 'Show', consult %></td>
        <td><%= link_to 'Edit', edit_consult_path(consult) %></td>
        <td><%= link_to 'Destroy', consult, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consult', new_consult_path %>
